<div class="row">
	<div class="jumbotron">
		<h2>Contatos</h2>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="col-md-12">
				<div class="form-group">
					<label>Buscar</label>
					<input type="text" class="form-control" ng-model="filtro">
				</div>
			</div>
		</div>

		<div class="col-md-12">
			<table class="table">
				<tr>
					<th>Nome</th>
					<th>Telefone</th>
					<th>Email</th>
					<th colspan="3">Ações</th>
				</tr>
				<tr ng-repeat="_contato in contatos | filter:filtro">
					<td>{{_contato.nome}} {{_contato.sobrenome}}</td>
					<td>{{_contato.telefone}}</td>
					<td>{{_contato.email}}</td>
					<td>
						<i class="glyphicon glyphicon-edit text-info" ng-click="editarContato(_contato)"></i>
					</td>
					<td>
						<i class="glyphicon glyphicon-remove text-warning" ng-click="remover($index)"></i>
					</td>

					<td>
						<i class="glyphicon glyphicon-eye-open text-success" ng-click="visualizar(_contato.id)"></i>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="row">
		<form ng-submit="salvar(contato)">
			<div class="form-group col-md-6">
				<label>Nome</label>
				<input type="text" class="form-control" ng-model="contato.nome">
			</div>

			<div class="form-group col-md-6">
				<label for="">Sobrenome</label>
				<input type="text" class="form-control" ng-model="contato.sobrenome">
			</div>

			<div class="form-group col-md-6">
				<label for="">Telefone</label>
				<input type="phone" class="form-control" ng-model="contato.telefone">
			</div>

			<div class="form-group col-md-6">
				<label for="">Email</label>
				<input type="email" class="form-control" ng-model="contato.email">
			</div>

			<div class="col-md-12">
				<div class="row">
					<button class="btn btn-primary btn-raised">Salvar</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="modal" id="modalSucesso">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Mensagem</h4>
			</div>
			<div class="modal-body">
				<p>Contato salvo com sucesso.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
			</div>
		</div>
	</div>
</div>